<div class="form-add-title text-success">
<h3>Create your event </h3>
</div>

<div class ="form-add text-success">
<form method="POST" action="/events/add" enctype="multipart/form-data">

<label for="title">What's the title of your event?</label> <br>
<input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="title" placeholder="The Farm Trip">

<label for="description">What is your event about?</label> 
<textarea  class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded"  name="description" cols="30" rows="3"></textarea> 

{{!-- <input type="text" name="description" placeholder="This ia an event for fruits and vegetables interesting in farming"> --}}

<input type="date" class="border border-success shadow p-3 mb-5 bg-white rounded" name="date"> <br>
<label for="date">When will your event take place?</label> 

<label for="address">Where will your event take place?</label> 
<input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="street" placeholder="BerlinerStr. 2"> 
<input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="city" placeholder="Berlin"> 

<label for="location">Where in the map can your event be found</label> 
  <input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="latitude" placeholder="latitude" >
  <input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="longitude" placeholder="longitude">
  <br>

  <input type="file" name="photo" required>
<label for="photo">Show your attendees what the event looks like</label> 
  <br><br>

  <button class="rounded bg-success text-white" type="submit" name="">Create</button>
</form>
</div>