{{!-- FACEBOOK LOGIN --}}
{{!-- 
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1317812461694160',
      cookie     : true,
      xfbml      : true,
      version    : '3.2'
    });
      
    FB.AppEvents.logPageView();
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1317812461694160&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div> --}}

<div class ="form-add text-success">
<a class="google-btn btn btn-success rounded text-white" href="/auth/google">Log in with Google</a>
</div>

<div class="separator text-success"></div>

<div class="form-add-title text-success">
  <h3>Login</h3>
</div>

<div class ="form-add text-success">

  <form action="/auth/login" method="POST" id="form-container">
    {{!-- <div class="row"> --}}
      {{!-- <div class="col-sm-4"> --}}
        <label for="username">Username</label>
      {{!-- </div> --}}
      {{!-- <div class="col-sm-8"> --}}
        <input id="username" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded"  type="text" name="username" placeholder="JonSnow">
      {{!-- </div>
    </div> --}}
    {{!-- <div class="row"> --}}
      <label for="password">Password</label>
      {{!-- <div class="col-sm-8"> --}}
        <input id="password" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" type="password" name="password" placeholder="Your password">
      {{!-- </div> --}}
    {{!-- </div> --}}
    {{!-- <div class="row"> --}}
      {{!-- <div class="col-sm-8 offset-sm-4"> --}}
        <button class="rounded bg-success text-white">Login</button>
      {{!-- </div> --}}
    {{!-- </div> --}}

    <br><br>

    <br>
    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>


    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>

    <p>
      Forgot your password?
      <a href="/auth/forgot">Reset Password</a>
    </p>
  </form>

{{!-- </div> --}}
</div>
