<form action="/auth/reset/{{token}}" method="POST">
  <label for="newPassword">New password</label>
  <input id="newPassword" type="newPassword" name="newPassword" placeholder="Your password" required>
  <br><br>

  <label for="confirmPassword">confirm password</label>
  <input id="confirmPassword" type="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
  <br><br>

</form>