
{{!-- <div class="g-signin2" data-onsuccess="onSignIn">
<a href="/auth/google">Sign In with Google</a>
</div> --}}


<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow" required>

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" required>
  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email" required>
  <br><br>

  <label>Profile picture</label>
  <input type="file" name="photo" required>
  <br><br>

  <label for="kind">What kind of vegetable are you?</label>
  <input id="kind" type="kind" name="kind" placeholder="Your kind">
  <br><br>

  <label for="age">How old are you? (In pickle years)</label>
  <input id="age" type="age" name="age" placeholder="Your age">
  <br><br>

  <label for="phoneNumber">What is your phone number?</label>
  <input id="phoneNumber" type="phoneNumber" name="phoneNumber" placeholder="Your phone number">
  <br><br>

  <label for="hobbies">What are your hobbies?</label>
  <input id="hobbies" type="hobbies" name="hobbies" placeholder="Your hobbies">
  <br><br>

  <label for="fears">What are your fears?</label>
  <input id="fears" type="fears" name="fears" placeholder="Your fears">
  <br><br>

  <label for="darkSecret">What is your darkest, vegetabliest secret?</label>
  <input id="darkSecret" type="darkSecret" name="darkSecret" placeholder="Your darkSecret">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>

