
<h1>Add your post</h1>

<form action="/add-post" method="post">
Title: <input type="text" name="title"> <br> <br>
Content: <textarea name="content" cols="30" row="10"></textarea> <br>
<button type=submit> Add post</button>
</form>