
<h1>Add your post</h1>

<form action="/posts/add" method="post">
Title: <input type="text" name="title"> <br> <br>
Content: <textarea name="content" cols="30" row="10"></textarea> <br>
Visibility: <select name="visibility">
  <option value="Public">Public</option>
  <option value="Private">Private</option>
</select> <br><br>
Category: <select name="Category">
  <option value="Recommendation">Recommendation</option>
  <option value="Story">Story</option>
  <option value="Question">Question</option>
</select> <br><br>

<button type=submit> Add post</button>
</form>