<h2>Edit posts details</h2>

<form action="/posts/{{post._id}}/edit" method="post">
Title: <input value= "{{post.title}}" type="text" name="title"> 
Content: <input value= "{{post.content}}" type="text" name="content">
Visibility: <select name="visibility">
  <option value="Public">Public</option>
  <option value="Private">Private</option>
</select> <br><br>
Category: <select name="Category">
  <option value="Recommendation">Recommendation</option>
  <option value="Story">Story</option>
  <option value="Question">Question</option>
</select> <br><br>

<button type="submit"> Confirm changes </button>
</form>
