<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="" class="btn btn-primary">Test bootstrap</a>

<iframe width="560" height="315" src="https://www.youtube.com/embed/YKyUsgF-_qk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{#if message}}
    <div class="error-message">{{ message }}</div>
{{/if}}