<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
  <meta name="google-signin-client_id" content="Your_GOOGLE_CLIENT_ID.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>


<link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    {{#if isConnected }}
    <a href="/posts">Newsfeed</a>
    <a href="/events">Events</a>
    <a href="/users">See all Users</a>
    <a href="/friends">My friends</a>
    <a href="/friends/find">Find friends</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{!-- <a href="/auth/google">Sign up with Google</a> --}}
    {{/if}}
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>