* {
  list-style: none;
}

body {
  padding: 0px;
  margin: 0 auto;
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(144, 238, 144);
  // background-image: url('/images/Veg\ orgy\ 2.jpg');
  // background-size: cover;
}

a {
  color: #00B7FF;
}



button { 
  background-color: rgb(79, 141, 79);
  color: white;
  border: none;
  box-shadow: 0 0 10px lightgray;
  border-radius: 5px;
  padding: 3px 7px;
}
.button { 
  background-color: rgb(79, 141, 79);
  color: white;
  border: none;
  box-shadow: 0 0 10px lightgray;
  border-radius: 5px;
  padding: 3px 7px;
  margin: 5px;
  .delete {
    background-color: lightcoral;
  }
}
.separator {
  height: 1px;
  width: 80%;
  margin: 5px auto;
  background-color: rgb(240, 240, 240);
}
.small-delete-button {
  display: inline-block;
  background-color: lightcoral;
  border-radius: 50%;
  justify-content: center;
  font-size: 0.5em; 
}

// Find friends styles
.page-title {
  display: flex;
  padding: 20px 0;
  width: 100%;
  text-justify: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 10px auto;
  h2 {
    text-justify: center;
  }
}

#user-card-general-wrapper {
  background-color: #fff;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  #user-card {
    display: flex;
    width: 95%;
    height: 150px;
    box-shadow: 0 0 10px lightgray;
    margin: 10px auto;
    border-radius: 5px;
    #user-card-img {
      display: flex;
      width: 30%;
      align-items: center;
      margin: 5px;
      img {
        box-shadow: 0 0 15px lightgray;
        // display: block;
        margin: 0 auto;
        height: 100px;
        width: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
      }
    }
    #user-card-right-wrapper {
      display: flex;
      flex-flow: column;
      position: absolute;
      width: 70%;
      right: 15px;
      text-align: right;
      align-items: flex-end;
    }
    #user-card-text {
      display: flex;
      flex-flow: column;
      h3 {
        position: absolute;
        right: 8px;
        top: 8px;
        align-self: center;
      }
      p {
        position: absolute;
        align-self: center;
        margin: auto;
        right: 8px;
        top: 40px;
      }
    }
    #user-card-button {
      position: absolute;
      font-size: 0.9em;
      top: 115px;
      right: 5px;
      button {
        border-radius: 3px;
      }
    }
    h3 {
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
    }
  }
}

// Private homepage styles
.user-prof-pic {
  box-shadow: 0 0 15px grey;
  // display: block;
  // margin: 0 auto;
  height: 75px;
  width: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#newsfeed-subheader {
  max-width: 700px;
  margin: 0 auto; 
  form {
    margin: 0;
  }
  button {
    margin: 0;
  }
}
#post-gen-container {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 700px;
  width: 95%;
  box-shadow: 0 0 10px lightgray;
  margin: 30px auto;
  border-radius: 5px;
  padding: 0px 0 10px;
  #post-header {
    display: flex;
    align-items: center;
    height: 80px;;
    #user-prof-pic-div {
      display: flex;
      width: 20%;
      justify-items: flex-start;
      align-items: flex-start;
      margin: 10px;
    }
    #post-header-text {
      display: flex;
      flex-flow: column;
      position: absolute;
      width: 70%;
      right: 15px;
      text-align: right;
      align-items: flex-end;
      justify-content: center;
      h3 {
        position: absolute;
        right: 8px;
        font-size: 1.3em;
        font-weight: bold;
      }
      p {
        position: absolute;
        align-self: center;
        margin: auto;
        right: 8px;
        top: 40px;
        color: grey;
        font-size: 0.8em;
        width: 200px;
      }
    }
  }
  #post-content {
    margin: 0 20px; 
    h3 {
      margin-bottom: 10px;
      font-size: 1.3em;
    }
    p {
      font-size: 1em;
    }
  }
}

#post-img-div {
  display: inline-block;
  margin: 0 auto 15px;
  // width: 100%;
    // max-width: 100%;

  img {
    margin: 0 auto;
    object-fit: contain;
    max-width: 100%;
    // width: 100%;
    height: auto;
    // box-shadow: 0 0 10px grey;
    // border-radius: 5px;
    // height: 400px;
  }
}
#post-date {
  // position: absolute;
  align-self: center;
  margin: auto 10px 10px 10px;
  right: 8px;
  top: 40px;
  color: grey;
  font-size: 0.65em;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}
//Comments styles
#post-comments-div {
  display: flex;
  margin: 0 10px 0 20px;
  position: relative;
  top: -30px;
  #comment-user-prof-pic-div {
    width: 65px;
    height: 100%;
    margin: 10px;
    img {
      width: 65px;
      height: 65px;
    }
  }
}
.comm-content {
  margin-top: 13px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  h6 {
    margin: 10px; 
    font-size: 0.8em;
    font-weight: bold;
  }
  p {
    margin: 0 8px 0px 10px;
    font-size: 0.8em;
  }
}

#delete-comment-button {
  position: relative;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 10px grey;

}
#comment-input-box {
  display: flex;
  width: 100%;
  margin: 0 10px 10px 10px;
  // justify-content: space-between;
  input {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    // margin-left: 10px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // width: 70%;
    button {
      position: relative;
      top: 3px;
      box-shadow: 0 0 10px grey;
      margin: 0 10px;

    }
  }
}
#edit-delete-post-buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 0 10px;
  button {
    box-shadow: 0 0 10px grey;

  }
  .delete {
    background-color: lightcoral;

  }
}



// OVERRIDE THE DEFAULT VALUES OF BOOTSTRAP BY DEFINING THEM ABOVE THE IMPORT
$primary: rgb(114, 172, 56);

// IMPORT BOOTSTRAP FROM NODE MUDULES
@import "node_modules/bootstrap/scss/bootstrap";
