
<div class="form-add-title text-success">
<h3>Create your post</h3>
</div>

<div class ="form-add text-success">
<form action="/posts/add" method="post" enctype="multipart/form-data">

<label for="title">What's the title of your post</label> <br>
<input type="text" class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded" name="title" placeholder="Enter your post title here"> 

<label for="content">Your post content</label> <br>
<textarea  class="form-control col-12 border border-success shadow p-3 mb-5 bg-white rounded"  name="content" cols="30" rows="3"></textarea> 

<label for="visibility">Choose who can see your post<br>
</label>  <br>
<select name="visibility" class="border border-success shadow p-3 mb-5 bg-white rounded">
  <option value="Public">Public</option>
  <option value="Private">Private</option>
</select> 
<br>

<label for="category">Choose a category</label> <br>
 <select name="category" class="border border-success shadow p-3 mb-5 bg-white rounded">
  <option value="Recommendation">Recommendation</option>
  <option value="Story">Story</option>
  <option value="Question">Question</option>
</select> 

<br>

 <input type="file" name="photo">
 <label for="photo">Add a photo to your post</label> 
<br><br>
<button class="rounded bg-success text-white" type="submit">Add post</button>
</form>
</div>